#mobile-gallery {
    display: none;
}

.slider-mobile {
    position: relative;
    max-width: 600px;
    height: auto;
    margin: auto;
    overflow: hidden;
    border-radius: 16px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slides img {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border-radius: 16px;
}

.slider-mobile button {
    text-align: center;
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    background: #ffffff;
    border: none;
    cursor: pointer;
    width: 35px;
    height: 100px;
    color: #56d270;
    font-size: 28px;
    border-radius: 100px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

@media (max-width: 430px) {
    #mobile-gallery {
        display: block;
    }
    
}